{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "extends": "airbnb-base",
  "rules": {
    "arrow-body-style": ["error", "always"],
    "no-console": 0,
    "no-undef": 0
  }
}
